<img src="https://www.politecnicos.com.br/img/075.jpg" alt="Grupo Turing" height="420" width="420">

<img src="//img.olhardigital.com.br/uploads/acervo_imagens/2019/07/r16x9/20190710014531_1200_675_-_fifa.jpg" width="400" height="375" alt="Fifa" title="Fifa - Divulgação">

# Exercícios Pandas

Para fixar o aprendizado das principais funções da biblioteca Pandas, vamos agora explorar os dados dos jogadores do videogame Fifa 19. O seu objetivo é manipular o DataFrame de modo a descobrir informações possívelmente uteis para as próximas etapas da análise de dados e predição. 

Autor: Felipe Azank dos Santos

------------------------------------------------------------------------------------------------------------------


## Parte I 
### Montando DataFrames

**1-Importe a biblioteca**

In [1]:
import pandas as pd

------------------------------------------------------------------------------------------------------------------
**2-Importe os dados necessários e os armazene em um DataFrame "jogadores".**

Dica: você pode fazer isso inserindo o link da internet abaixo na função de leitura de arquivos .csv:
https://raw.githubusercontent.com/amanthedorkknight/fifa18-all-player-statistics/master/2019/data.csv

In [2]:
jogadores=pd.read_csv(
    'https://raw.githubusercontent.com/amanthedorkknight/fifa18-all-player-statistics/master/2019/data.csv')

**3-Mostre as 5 primeiras observações do DataFrame (head)** 
<img id="Awzvk2YcLmyl7M:" src="" jsaction="load:str.tbn" class="rg_ic rg_i" alt="Resultado de imagem para should have gone for the head" style="width: 300px; height: 168px; margin-left: 11px; margin-right: 12px; margin-top: 10px;" data-atf="1">

In [3]:
jogadores.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

------------------------------------------------------------------------------------------------------------------
**4-Quais são as colunas do DataFrame?**

In [4]:
jogadores.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
**5-Nossa! São muitas colunas! Para facilitar o exercício, selecione apenas as seguintes colunas:**
* ID 
* Nome (Name)
* Idade (Age)
* Nacionalidade (Nationality)
* Nota Geral do Jogador (Overall)
* Habilidade com o "pé fraco" (Weak Foot)
* Peso (Weight)
* Valor (Value)
* Aceleração (Acceleration)

**Ademais, torne a coluna ID no index do novo DataFrame**

DICA: Para esse caso, o que é mais facil? redefinir o DataFrame selecionando apenas essas colunas, ou "dropar" todas as demais colunas?

In [5]:
jogadores=jogadores[['ID','Name','Age','Nationality','Overall','Weak Foot','Weight','Value','Acceleration']]

In [6]:
jogadores.set_index('ID')

,Name,Age,Nationality,Overall,Weak Foot,Weight,Value,Acceleration
ID,,,,,,,,
158023,L. Messi,31,Argentina,94,4.0,159lbs,€110.5M,91.0
20801,Cristiano Ronaldo,33,Portugal,94,4.0,183lbs,€77M,89.0
190871,Neymar Jr,26,Brazil,92,5.0,150lbs,€118.5M,94.0
193080,De Gea,27,Spain,91,3.0,168lbs,€72M,57.0
192985,K. De Bruyne,27,Belgium,91,5.0,154lbs,€102M,78.0
...,...,...,...,...,...,...,...,...
238813,J. Lundstram,19,England,47,2.0,134lbs,€60K,54.0
243165,N. Christoffersson,19,Sweden,47,2.0,170lbs,€60K,41.0
241638,B. Worman,16,England,47,3.0,148lbs,€60K,70.0
246268,D. Walker-Rice,17,England,47,3.0,154lbs,€60K,61.0
246269,G. Nugent,16,England,46,3.0,176lbs,€60K,57.0

------------------------------------------------------------------------------------------------------------------
**6-Cheque as informações do DataFrame**

OBS: Notou algo de interessante/errado em relação as colunas 'Value' e 'Weight'? (vide exercício 8)

In [7]:
jogadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 9 columns):
ID              18207 non-null int64
Name            18207 non-null object
Age             18207 non-null int64
Nationality     18207 non-null object
Overall         18207 non-null int64
Weak Foot       18159 non-null float64
Weight          18159 non-null object
Value           18207 non-null object
Acceleration    18159 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 1.3+ MB

------------------------------------------------------------------------------------------------------------------
**7-Tendo em vista o tamanho do Dataset e a pouca quantidade de números faltantes, retire os "NaN values"**

In [8]:
jogadores.dropna(inplace=True)

------------------------------------------------------------------------------------------------------------------
**8-Solucione o problema das colunas "Value" e "Weight" transformando-as de strings para inteiros**

Considere esse exercício como um desafio, se não conseguir, tente buscar na internet, como em sites e fóruns de programação. O "know how" em pesquisar esses tipos de coisas é extremamente importante em qualquer área relacionada a códigos.    

<img id="yrXEjiEcRalrjM:" src="" jsaction="load:str.tbn" class="rg_ic rg_i" alt="Resultado de imagem para stack overflow" style="width: 357px; height: 87px; margin-left: -22px; margin-right: -21px; margin-top: 34px;" data-atf="1">

DICA: Métodos Apply e Replace do Pandas

In [9]:
#problema do Weight
jogadores['Weight'] = jogadores['Weight'].apply(lambda x : float(str(x).replace('lbs','')))


#Problema de Value
def extract_value_from(Value):
    out = Value.replace('€', '')
    if 'M' in out:
        out = float(out.replace('M', ''))*1000000
    elif 'K' in Value:
        out = float(out.replace('K', ''))*1000
    return float(out)

jogadores['Value'] = jogadores['Value'].apply(lambda x: extract_value_from(x))

------------------------------------------------------------------------------------------------------------------

**9-Agora, vamos ver as características gerais dos dados numéricos. Utilize uma função do pandas para descreve-los em linhas gerais**

In [10]:
jogadores.describe()

,ID,Age,Overall,Weak Foot,Weight,Value,Acceleration
count,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,1.815900e+04,18159.000000
mean,214279.590286,25.122529,66.249904,2.947299,165.979129,2.416131e+06,64.614076
std,29968.461880,4.670568,6.914613,0.660456,15.593344,5.601319e+06,14.927780
min,16.000000,16.000000,46.000000,1.000000,110.000000,0.000000e+00,12.000000
25%,200300.000000,21.000000,62.000000,3.000000,154.000000,3.000000e+05,57.000000
50%,221743.000000,25.000000,66.000000,3.000000,165.000000,6.750000e+05,67.000000
75%,236508.500000,28.000000,71.000000,3.000000,176.000000,2.000000e+06,75.000000
max,246620.000000,45.000000,94.000000,5.000000,243.000000,1.185000e+08,97.000000

------------------------------------------------------------------------------------------------------------------
**10-Faça o mesmo para os dados categóricos Nome e Nacionalidade**

In [11]:
jogadores[['Name','Nationality']].describe()

                Name Nationality
count          18159       18159
unique         17150         164
top     J. Rodríguez     England
freq              11        1657

## Parte II
### Filtrando e explorando DataFrames

**1-Qual é o jogador mais velho? E o mais novo?**

In [12]:
jogadores.head()

,ID,Name,Age,Nationality,Overall,Weak Foot,Weight,Value,Acceleration
0,158023,L. Messi,31,Argentina,94,4.0,159.0,110500000.0,91.0
1,20801,Cristiano Ronaldo,33,Portugal,94,4.0,183.0,77000000.0,89.0
2,190871,Neymar Jr,26,Brazil,92,5.0,150.0,118500000.0,94.0
3,193080,De Gea,27,Spain,91,3.0,168.0,72000000.0,57.0
4,192985,K. De Bruyne,27,Belgium,91,5.0,154.0,102000000.0,78.0

In [13]:
#PRIMEIRA MANEIRA

#Jogador mais velho
jogadores[jogadores['Age']==jogadores['Age'].max()]['Name']

#Jogador mais novo
jogadores[jogadores['Age']==jogadores['Age'].min()]['Name']

#SEGUNDA MANEIRA

#Jogador mais velho
print(jogadores.sort_values('Age').tail(1))

#Jogador mais novo
print(jogadores.sort_values('Age').head(1))

          ID      Name  Age Nationality  Overall  Weak Foot  Weight     Value  \
4741  140029  O. Pérez   45      Mexico       71        3.0   165.0  160000.0

      Acceleration
4741          60.0
           ID       Name  Age Nationality  Overall  Weak Foot  Weight  \
18206  246269  G. Nugent   16     England       46        3.0   176.0

         Value  Acceleration
18206  60000.0          57.0

------------------------------------------------------------------------------------------------------------------
**2-Perceba que há mais de 1 jogador com 16 anos, mostre quantos são.**

In [14]:
len(jogadores[jogadores['Age']==16])

42

------------------------------------------------------------------------------------------------------------------
**3-O Brasil é o país do futebol... mas será? Qual o top 5 países que mais tem jogadores no Fifa 19?**

<img src="http://www.jundiaqui.com.br/wp-content/uploads/2018/07/ney-cai-1.jpg" width="300" alt="Jundiaqui" class="mrg-  default">

DICA: groupby

In [15]:
jogadores.groupby('Nationality').count().sort_values('Age').tail()['ID']

Nationality
France        911
Argentina     936
Spain        1071
Germany      1195
England      1657
Name: ID, dtype: int64

------------------------------------------------------------------------------------------------------------------
**4-Selecionem os jogadores que ganham mais de 65 milhões de euros e que pesam mais de 160 libras.**

In [16]:
jogadores[(jogadores['Weight']>160.0) & (jogadores['Value']>65000000)]

,ID,Name,Age,Nationality,Overall,Weak Foot,Weight,Value,Acceleration
1,20801,Cristiano Ronaldo,33,Portugal,94,4.0,183.0,77000000.0,89.0
3,193080,De Gea,27,Spain,91,3.0,168.0,72000000.0,57.0
5,183277,E. Hazard,27,Belgium,91,4.0,163.0,93000000.0,94.0
7,176580,L. Suárez,31,Uruguay,91,4.0,190.0,80000000.0,86.0
9,200389,J. Oblak,25,Slovenia,90,3.0,192.0,68000000.0,43.0
10,188545,R. Lewandowski,29,Poland,90,4.0,176.0,77000000.0,77.0
11,182521,T. Kroos,28,Germany,90,5.0,168.0,76500000.0,64.0
15,211110,P. Dybala,24,Argentina,89,3.0,165.0,89000000.0,87.0
16,202126,H. Kane,24,England,89,4.0,196.0,83500000.0,68.0
17,194765,A. Griezmann,27,France,89,3.0,161.0,78000000.0,88.0
25,231747,K. Mbappé,19,France,88,4.0,161.0,81000000.0,96.0
28,198710,J. Rodríguez,26,Colombia,88,3.0,172.0,69500000.0,73.0
30,197781,Isco,26,Spain,88,3.0,174.0,73500000.0,75.0
31,190460,C. Eriksen,26,Denmark,88,5.0,168.0,73500000.0,75.0